{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto mb-3">
                <h3>about först</h3>
                <hr />
                <p>
                    Först is a community gardening platform that connects people with local gardens and gardening resources. Our mission is to promote sustainable gardening practices and foster a sense of community through gardening.
                </p>
                <p>
                    We believe that everyone should have access to green spaces and the opportunity to grow their own food. Whether you're a seasoned gardener or just starting out, Först is here to help you on your gardening journey.
                </p>
                <p>
                    Join us today and start growing your own garden!
                </p>
            </div>
            <div class="container row col-md-6">
                <img src="{% static 'img/about.png' %}"alt="about" class="img-fluid"/>
            </div>
        </div>
    </div>
</div>
{% endblock content %}