{% extends 'base.html' %}
{% block content %}

<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mb-3">
                <h3>greenspaces near you</h3>
                <hr />
                <p>
                    use the map below to locate greenspaces & community gardens.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="map" style="height: 400px; width: 100%;"></div>
<script>
    function initMap() {
        var options = {
            zoom: 15,
            center: { lat: 33.77592488775986, lng: -84.40133563420886 } //Instructional Center GT
        }
        var map = new google.maps.Map(document.getElementById('map'), options);
    }
</script>
    var
<script
    src="https://maps.googleapis.com/maps/api/js?key={{     maps_api_key }}&callback=initMap">
</script>
{% endblock content %}