body {
    background: url('https://images.unsplash.com/photo-1465408953385-7c4626b743db?ixlib=rb-4.0.3&auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
}

.masked-text {
    font-size: 42vw;
    margin-top: -75px;
    margin-bottom: -80px;
    background: url("https://images.unsplash.com/photo-1475359524104-d101d02a042b?q=80&w=3094&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
    background-size: 150% auto;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: moveBackground 100s linear infinite alternate;
}

.index-text {
    margin-bottom: 0px;
}

/* animation keyframes */
@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.navbar {
    background-color: #FFFFFF !important;
}

.navbar .nav-link {
    color:#6E7841;
}

.navbar .nav-link:hover {
    color:#273117;
    transition: color 0.2s;
}

.card {
    background: rgba(255, 255, 255, 0.8); /* slight transparency */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #6E7841;
}

.btn-primary {
    background-color: #6E7841;
    border-color: #6E7841;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #586031;
    border-color: #586031;
    color: #FFFFFF;
}

.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #6E7841 !important;
    border-color: #6E7841 !important;
    color: #fff !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Success button colors */
.btn-success {
    background-color: #6E7841;
    border-color: #6E7841;
    color: #FFFFFF;
}

.btn-success:hover {
    background-color: #586031;
    border-color: #586031;
    color: #FFFFFF;
}

.btn-outline-success {
    border-color: #6E7841;
    color:#6E7841;
}

.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle,
.btn-success:focus,
.btn-success:active:focus {
    background-color: #6E7841 !important;
    border-color: #6E7841 !important;
    color: #fff !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Outline success button colors*/
.btn-outline-success:focus {
    outline: none; 
}

.btn-outline-success:hover{
    background-color: #6E7841;
    border-color: #6E7841;
}

.btn-outline-success:active,
.btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle,
.btn-outline-success:focus,
.btn-outline-success:active:focus {
    background-color: #6E7841 !important;
    border-color: #6E7841 !important;
    color: #fff !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-outline-success:focus {
    outline: none; 
}

.btn-danger {
    background-color: #9c4936;
    border-color: #9c4936;
}

.btn-danger:hover {
    background-color: #823625;
    border-color: #823625;
}

.btn-danger:active,
.btn-danger.active,
.show > .btn-danger.dropdown-toggle,
.btn-danger:focus,
.btn-danger:active:focus {
    background-color: #9c4936 !important;
    border-color: #9c4936 !important;
    color: #fff !important;
    box-shadow: none !important;
    outline: none !important;
}

.badge {
    background-color: #FFFFFF;
    color: #6E7841;
}

.square-image-wrapper {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;          /* Makes the wrapper square */
    overflow: hidden;
}

.square-image-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;            /* Ensures image fills square, crops as needed */
    left: 0;
    top: 0;
    display: block;
}

.btn-link {
    color: #6E7841;
}

.btn-link:hover {
    color:#273117;
}

.btn-link:active,
.btn-link.active,
.show > .btn-link.dropdown-toggle,
.btn-link:focus,
.btn-link:active:focus {
    color: #273117 !important;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-right {
    animation: slideInRight 1s ease-in-out both;
}

.square-image-wrapper.slide-in-right {
    animation-duration: 1.5s;
}


hr {
    border-top: 1px solid #273117;
}

h3 {
    font-size: 2.5vw;
    color:#6E7841;  
}

h4, h5 {
    color:#455430;
}

h6{
    font-size: 12px;
}

h1{
    color: #2e7d32; /* strong plant green */
}

a {
    color: #6E7841;
}

a:hover {
    color: #273117;
}