{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Verify Email</h2>
            <hr />
            {% if template_data.error %}
              <div class="alert alert-danger">{{ template_data.error }}</div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <p>
                <label for="email">Enter your email address</label>
                <input id="email" type="email" name="email" required class="form-control">
              </p>
              <button type="submit" class="btn bg-dark text-white">Verify</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
